<div class="div-header">
	<img src="assets/logostudytime.svg" style="height: 60px; width: 60px;" alt="Study Time logo"/>
	<img src="assets/STUDYTIME.svg" style="height: 40px; margin-left: 20px; margin-top: 10px;" alt="Study Time text"/>
	<button mat-button style="margin-left: auto; margin-right: 27px; margin-top: 10px;" (click)="goToSignIn()">CERRAR SESIÓN</button>
</div>
<hr style="margin-left: 27px; margin-top: 18px; margin-right: 27px; border-color: #333333; border: 1px solid"/>
<mat-toolbar style="background-color:#F8F9FA" >
	<button mat-button (click)="goToDashboard()">Inicio</button>
	<button mat-button (click)="goToStats()">Estadísticas</button>
	<button mat-button>Usuarios administradores</button>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="25%" class="gridList">
	<mat-grid-tile>
		<img src="assets/grapone.svg" style="width: 200px;"  alt="graph"/>
	</mat-grid-tile>
	<mat-grid-tile rowspan="2">
		<mat-card >
			<mat-card-header>
				Actividad de Usuarios
			</mat-card-header>
		<ngx-charts-bar-vertical
		[view]="[500,500]"
		[results]="connections"
		[xAxisLabel]="'x-axis'"
		[legendTitle]="'legend'"
		[yAxisLabel]="'y-axis'"
		[legend]="true"
		[showXAxisLabel]="false"
		[showYAxisLabel]="false"
		[xAxis]="true"
		[yAxis]="true"
		[gradient]="false">
	</ngx-charts-bar-vertical>
</mat-card>
	</mat-grid-tile>
	<mat-grid-tile>
		<img src="assets/graphtwo.svg" style="width: 200px;"  alt="graph"/>
	  </mat-grid-tile>
	<mat-grid-tile>
		<img src="assets/grapthree.svg" style="width: 200px;"  alt="graph"/>
	  </mat-grid-tile>

	  <mat-grid-tile rowspan="2">

		<mat-card >
			<mat-card-header>
				Actividad de Usuarios
			</mat-card-header>
			<mat-card-content>
				<ngx-charts-pie-chart
				[view]="[300,300]"
				[results]="dataset"
				[legendTitle]="''"
				[legend]="true"
				[gradient]="false">
			</ngx-charts-pie-chart>
			</mat-card-content>
		</mat-card>
	  </mat-grid-tile>
  </mat-grid-list>