.center-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
  }

  .close-button-container {
    margin-left: auto; 
    margin-top: -30px; 
  }