<div class="div-header">
  <img src="assets/logostudytime.svg" style="height: 60px; width: 60px;" alt="Study Time logo"/>
  <img src=".assets/STUDYTIME.svg" style="height: 40px; margin-left: 20px; margin-top: 10px;" alt="Study Time text"/>

</div>
<hr style="margin-left: 27px; margin-top: 18px; margin-right: 27px; border-color: #333333; border: 1px solid"/>
<mat-grid-list cols="12" rowHeight="90%">
  <mat-grid-tile [colspan]="5">
    <div class="center-container" style="flex-grow: 1; width: 80%;" >
      <br/>
      <p style="color: #333333; width: 70%; text-align: center;">Para recuperar tu cuenta, ingresa tu correo  y enviaremos un mensaje para que puedas ingresar a study time</p>
      <br/>
      <mat-form-field appearance="outline" style="width: 70%;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ingresa tu email">
        <mat-hint align="start">Ingresa tu email con el que te encuentras registrado en  studytime</mat-hint>
      </mat-form-field>
      <br/>


      <br/>
      <button mat-raised-button color="primarybutton-color" (click)="openDialog()" style="width: 200px;">RECUPERAR CUENTA</button>
      <br/>
      <button mat-stroked-button style="border: 1px solid #BF565F;   color: #BF565F; background-color: white; width: 200px;"  (click)="goToSignIn()">CANCELAR</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="7">
    <img src="assets/Worktime.svg" alt="Study Time"/>
  </mat-grid-tile>

</mat-grid-list>

