table {
	width: 700px;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

td,
th {
	width: 25%;
}

.gridList {
	margin-left: 27px;
	margin-right: 27px;
}

.mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
	transition: all ease 0.5s;
}

.mat-mdc-row:hover .mat-mdc-cell {
	background: var(--pale-olive-green-45);
	color: white;
	border-color: currentColor;
}

.mat-mdc-card {
	width: 100%;
}
.mat-mdc-card-content {
	padding: 1rem;
}

.mat-mdc-card-header {
	div {
		position: relative;
		cursor: pointer;
		left: 99%;
	}
}

.icon {
	padding: 0.3rem;
	border: 2px solid var(--pale-olive-green-45);
	border-radius: 50%;
	background-color: var(--pale-olive-green-45);
	color: white !important;
}

.containerList {
	overflow-y: scroll;
	max-height: 30rem;
}

header {
	display: flex;
	padding-left: 1rem;
	padding-top: 0.5rem;
	gap: 10rem;
}