<div class="div-header">
  <img src="../../assets/logostudytime.svg" style="height: 60px; width: 60px;" alt="Study Time logo"/>
  <img src="../../assets/STUDYTIME.svg" style="height: 40px; margin-left: 20px; margin-top: 10px;" alt="Study Time text"/>
  <button mat-button style="margin-left: auto; margin-right: 27px; margin-top: 10px;" (click)="goToSignIn()">CERRAR SESIÓN</button>
</div>
<hr style="margin-left: 27px; margin-top: 18px; margin-right: 27px; border-color: #333333; border: 1px solid"/>

<mat-toolbar style="background-color:#F8F9FA" >
  <button mat-button>Inicio</button>
  <button mat-button>Estadísticas</button>
  <button mat-button>Usuarios administradores</button>
</mat-toolbar>

<mat-grid-list cols="12" rowHeight="2:3" style="margin-left: 27px; margin-right: 27px; " align-items="flex-start">
  <mat-grid-tile [colspan]="2">
      <img src="../../assets/grapone.svg" style="width: 200px;"  alt="graph"/>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="3" >

    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort style="width: 900px">
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="userType">
          <th mat-header-cell *matHeaderCellDef> Tipo de usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.userType}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
    


  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3" >
    <img src="../../assets/Time-management.svg"  alt="time management"/>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">
    <img src="../../assets/graphtwo.svg" style="width: 200px;"  alt="graph"/>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <img src="../../assets/grapthree.svg" style="width: 200px;"  alt="graph"/>
  </mat-grid-tile>
</mat-grid-list>